/* You can add global styles to this file, and also import other style files */
/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito+Sans:wght@300&display=swap');

:root {
    --heading-font: 'Aclonica', sans-serif;
    --text-font: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

h1, h2 {
   font-family: var(--heading-font); 
}

body {
    background-color: whitesmoke;
}

main {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 2% 5%;
}

.btn {
    min-width: 70px;
    height: 35px;
    border: none;
    background-color: #ED2B33FF;
    padding: 1% 2%;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: var(--text-font);
    font-weight: bold;
    cursor: pointer;
}